.map-container{
    margin-left: 4.6%;
    width: 95.4%;
    height: 100vh;
    /* overflow-x: hidden; */
    /* position: absolute; */
    /* z-index: 1; */
    /* top:0; */
}

/* .map-box{
    position: relative;
} */

