.bg-duty-color{
    background-color: #ffffff;
    box-sizing: content-box;
    margin: auto;
    width: 70%;
    height: 420px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 20px;
}

.detail-work{
    font-size: 16px;
    margin-top: 85px;
    margin-left: 185px;
}

.bg-duty-color::-webkit-scrollbar {
    width: 14px;
}

.bg-duty-color::-webkit-scrollbar-track {
background: transparent;
}

.bg-duty-color::-webkit-scrollbar-thumb {
background: rgb(154, 154, 154);
border-radius: 30px;
}

.bg-duty-color::-webkit-scrollbar-thumb:hover {
background: #bfbfbf;
}